.App {
  text-align: center;
  background-color: rgb(109, 46, 2);
  color:white;
  width: 50%;
  position: relative;
  left: 25%;
  border-radius: 20px;
  box-shadow: 0.7rem 0.7rem  rgb(76, 35, 6);
  margin: 20px;
  display: inline-flex;
  flex-wrap: wrap;
}
h1{
  margin-left: 10%;
  background-color: rgb(66, 28, 2);
  padding: 10px;
  box-shadow: 5px 5px rgb(79, 46, 24);
  border-radius: 1rem;
  inline-size: 100px; 
  text-align: center;
}
body{
  background-color:  rgb(43, 22, 8);
}
nav{
  width: 100%;

}
input{
  margin: 15px;
  width: 40%;
  height: 25px;
  border-radius: 10px;
}
section{
  margin-top: 5px;
  display: inline-flex;
  flex-wrap: wrap;
}
.loading{
  margin: 20px;
  padding: 20px;
  font-size: 40px;
}
